<html>
<head>
<title>Welcome</title>
</head>
<body>
<h1>Hello from {{ ansible_hostname }} </h1>
<p>OS: {{ ansible_facts['os_family'] }}</p>
<p>IP address: {{ ansible_default_ipv4.address }}</p>
</body>
</html>
